@media (max-width: 1000px) {

    #map-picture {
        display: flex;
        flex-direction: column;
    }

    #big-picture {
        display: flex;
        flex-direction: column;
    }

    #picture-container {
        display:flex;
        flex-direction: column;
        margin: 0;
    }


}

#otherconfigarea,
#othercabinarea,
#aquisitionarea {
    display: none;
}

.transparent-header {
    transition: background-color 1s;
    background-color: none;

}

.visible-header {
    transition: background-color 1s;
    background-color: #0B355F;
}

.nav-link {
    border-radius: 10px;
}

.nav-link:hover {    
    background-color: peru;
}

.picture {
    height: 274px;
}

.teste {
    height: 240px;
    border: double;
    border-color:violet;
}

.img-picture {
    height: 100%;
    object-fit: contain;
}
